@charset "UTF-8";
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right,#024959 , #1C8C81);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px#f287498f;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #4E8ED9;
    text-align: center;
    text-shadow: 1px 1px 2px #305886a8;
}
h2{
    color: #4EBAD9;
}