@charset "UTF-8";

body{
    background-color: bisque;
}
h1{
    background-color:burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h2{
    background-color:burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
p{
    text-align: justify;
}