@charset "UTF-8";

/*
em Html é id e em CSS é # (só pode 1 id em um elemento html)
em Htnl é class, em CSS é "." (podem vários elementos)
*/
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blue;
}
p{
    text-align: justify;
}
h1#principal{
    background-color: gold;
    text-align: center;
    color: darkblue;
}
h2{
    color: chocolate;
    text-align: justify;
}
.basico {
    color: darkorange;
    font-weight:bold;
}
.intermediario {
     color: black;
}
.avancado {
    color: brown;
}
.destaque{
    background-color: lightpink;
}