@charset "UTF-8"
body{
    color: black;
    background-color: gold;
    }
    p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: rgb(9, 9, 9);
    }
    h1{
        background-color: antiquewhite;  
    }
    h2{
    color: black;
    background-color: cadetblue;
    }      