@charset "UTH-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: black;   
}
p{
    text-align: justify;   
}
h1#principal{
    background-color: cornflowerblue;
    text-align: center;
    color: black;
}
h2{
    color: green;
    text-align: left;
}
.basico{
    color: darkblue;
    font-weight: bolder;
}
.intermediario{
    color: brown;
    
}
.avancado{
    color: green;
    
}
.destaque{
    background-color: lightpink;
}
